<app-pizza-header></app-pizza-header>
 
<div
  class="my-3"
  style="background-color: rgb(228, 226, 226); width: 81.8%; margin-left: 123px"
>
  <div class="" style="padding: 65px 30px">
    <h1 style="font-size: xxx-large">Pizza Delivery</h1>
    <p>
      Welcome to pizza delivery service. This is the place when you may chose
      the most delicious pizza you like form wide variety of options!
    </p>
    <hr />
    <p>
      We are performing delivery free of charges in case if your order is higher
      than 20$
    </p>
    <a routerLink="/login">
      <button
      type="button"
      class="btn btn-secondary btn-lg"
      style="padding: 6px 400px"
    >
      Sign In and Order
    </button>
    </a>

  </div>
</div>
